img{
    max-width:100%;
    height:auto;
}

/* cards */
.food-cards{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:10px;
    box-sizing:border-box;
    height:100%;
}

/* card image */
.food-cards img{
    width:100%;
    height:200px;
    object-fit:cover;
}

/* button always at bottom */
.apptzr-btn{
    margin-top:auto;
}



@media (max-width:576px){

/* header */
.header-items{
    flex-direction:row;
    align-items:center;
}

.logo{
    position:static;
    transform:none;
}

.logo img{
    height:60px;
}

/* buttons */
#number-btn{
    font-size:12px;
    padding:5px 8px;
}

.cart-btn{
    padding:6px;
}

/* menu */
.menu-wrapper{
    font-size:18px;
}

.menu-scroll a{
    font-size:13px;
    padding:8px 10px;
}

/* search */
.search-container{
    width:90%;
}

/* discount */
.discount-banner{
    width:90%;
    flex-direction:column;
    text-align:center;
}

/* grid */
.appetizer-items,
.salad-bar{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

/* card image responsive */
.food-cards img{
    height:140px;
}

/* button */
.apptzr-btn{
    width:100%;
    height:38px;
}

/* footer */
.footer-section{
    font-size:18px;
}
}


@media (min-width:576px) and (max-width:768px){

.appetizer-items,
.salad-bar{
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.food-cards img{
    height:160px;
}
.apptzr-btn{
    width: 15vw;
    height: 5vh;
}
.search-container{
    width:85%;
}

.discount-banner{
    width:85%;
}

.logo img{
    height:70px;
}
}


@media (min-width:768px) and (max-width:992px){

.appetizer-items,
.salad-bar{
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}
.apptzr-btn{
    width: 15vw;
    height: 5vh;
}
.food-cards img{
    height:180px;
}

.search-container{
    width:70%;
}

.discount-banner{
    width:70%;
}

.logo img{
    height:80px;
}
}


@media (min-width:992px) and (max-width:1200px){

.appetizer-items,
.salad-bar{
    grid-template-columns:repeat(4,1fr);
}
.apptzr-btn{
    width: 10vw;
    height: 5vh;
}
.food-cards img{
    height:200px;
}

.search-container{
    width:65%;
}

.discount-banner{
    width:65%;
}
}


@media (min-width:1200px) and (max-width:1400){

.appetizer-items,
.salad-bar{
    grid-template-columns:repeat(4,1fr);
    gap:30px;

}

.food-cards img{
    height:220px;
}

.search-container{
    width:60%;
}

.discount-banner{
    width:60%;
}
}
